/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(208, 56%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.weatherForm {
    margin: 20px;
    width: 100%;
    max-width: 500px;
}

.cityInput {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid hsl(270, 41%, 13%);
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: hsl(26, 91%, 52%);
    color: hsl(227, 82%, 50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.card {
    background: linear-gradient(180deg, hsl(227, 82%, 50%), rgb(244, 116, 19));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px hsl(0, 0%, 0%);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* Ajustements des tailles de texte pour mobile */
h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.cityDisplay, .temDisplay {
    font-size: 2rem;
    margin-bottom: 15px;
}

.descDisplay {
    font-size: 1.5rem;
}

.weatherEmoji {
    font-size: 5rem;
}

.errorDiplay {
    font-size: 1.5rem;
    text-align: center;
}

/* Media Queries pour différents écrans */

/* Tablettes */
@media (min-width: 600px) {
    .cityInput {
        font-size: 2rem;
    }
    
    button[type="submit"] {
        font-size: 2rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    .cityDisplay, .temDisplay {
        font-size: 3rem;
    }
    
    .weatherEmoji {
        font-size: 7rem;
    }
}

/* Ordinateurs */
@media (min-width: 900px) {
    .weatherForm {
        max-width: 800px;
    }
    
    .cityInput {
        width: 70%;
        margin-right: 10px;
    }
    
    button[type="submit"] {
        width: auto;
    }
    
    .card {
        max-width: 500px;
    }
}

/* Très grands écrans */
@media (min-width: 1200px) {
    .card {
        max-width: 600px;
    }
}
